selenium
webdriver-manager
transformers
huggingface_hub[cli]
torch
sentence-transformers
nltk
spacy
fuzzywuzzy
pandas
matplotlib
language-tool-python
langchain
scikit-learn
numpy
requests
streamlit
streamlit-authenticator